/* Header Base */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--container-color);
    
}

/* Navigation Bar */
.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Logo left, menu right */
    padding: 0 2rem; /* Controls both sides */
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
}

/* Logo */
.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: 1.25rem;
    text-decoration: none;
    margin-left: 1rem; /* slight right shift, responsive */
}

/* Menu */
.nav__menu {
    display: flex;
    align-items: center;
    padding-right: 1rem; /* slight inward from edge */
}

/* Nav List */
.nav__list {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__link {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

/* Toggle icon for mobile */
.toggle {
    display: none;
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--title-color);
}

.nav__close {
    display: none;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .nav {
        padding: 0 1rem; /* less padding on mobile */
    }

    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        background-color: var(--container-color);
        flex-direction: column;
        align-items: center;
        padding: 4rem 1rem;
        transition: 0.3s ease;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    }

    .show-menu {
        right: 0;
    }

    .nav__list {
        flex-direction: column;
        row-gap: 2rem;
    }

    .toggle {
        display: block;
    }

    .show-menu .nav__close {
        display: block;
        font-size: 2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }
}
