/* Header Base */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* Navigation Container */
.nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
}

.nav__logo:hover {
    color: hsl(var(--hue), var(--sat), 46%); /* accent color */
}

/* Desktop Menu */
.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    transition: 0.3s;
    position: relative;
}

.nav__link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background: linear-gradient(90deg, hsl(var(--hue), var(--sat), 46%), hsl(var(--hue), var(--sat), 36%));
    transition: width 0.3s ease;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__link:hover {
    color: hsl(var(--hue), var(--sat), 46%);;
}

/* Toggle icon hidden on desktop */
.toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--title-color);
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: var(--container-color);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        transition: right 0.3s ease-in-out;
        z-index: 999;
    }

    .show-menu {
        right: 0;
    }

    .nav__list {
        flex-direction: column;
        gap: 2rem;
    }

    .toggle {
        display: block;
    }

    .nav__close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }
}
